.sd-menu > ul {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  margin: 0;
  background: #262626;
  list-style-type: none;
  border-top: 1px solid white;
  padding: 0 1rem;
  z-index: 100;
}

.sd-menu button {
  border: 0;
  background-color: transparent;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 0.8rem 0.9rem;
  margin: 0;
  text-align: left;
  outline-style: none;
  outline-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.sd-menu > ul > li button {
  color: rgb(210,210,210);
}

.sd-menu > ul > li button:hover {
  color: white;
}

.sd-menu > ul > li button:not(:only-child) {
  color: white;
}

.sd-menu > ul > li {
  display: inline-block;
  position: relative;
  padding: 0;
}

.sd-menu > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  list-style-type: none;
}

.sd-menu > ul > li > ul > li {
  width: 100%;
  position: relative;
}

.sd-menu > ul > li > ul > li > button {
  display: block;
  min-width: 100%;
  white-space: nowrap;
  background: white;
  color: #3F3F3F;
  padding: 0.5rem 1.125rem;
  border-color: rgba(210,210,210,1);
  border-style: solid;
  border-width: 0 1px 0 1px;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.05);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.05);
}

.sd-menu > ul > li > ul > li:last-child > button {
  border-radius: 0 0 0.25rem 0.25rem;
  padding-bottom: 0.6rem;
  border-width: 0 1px 1px 1px;
}

.sd-menu > ul > li > ul > li > button:hover {
  background-color: rgba(240,240,240,1);
  color: black;
}

